<!DOCTYPE html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Shaun Gladwell</title>

    <link rel="stylesheet" type="text/css" href="dist/css/style.css">
    
</head>
<body>
<div id="content">

    <header>
      <button class="about" v-on:click="showBio = true">About</button>

      <h1>{{ site.name }}</h1>
      
      <a class="contact" href=" mailto:${site.email} ">Contact</a>
    </header>

    <section id="book">

      <div id="book__container" class="grid">
        
        <div class="book__card" v-for="pdf in books">
          <div class="book__image"><img v-bind:src="pdf.thumb"></div>
          <div class="book__info">
          <div class="book__title">{{ pdf.title }}</div><div class="book__year">{{ pdf.published }}</div>
          <div class="book__action"><a v-bind:href="pdf.url" class="action">Download</a></div>
        </div>
        
      </div>
      
    </section>

    <div class="clear"></div>

    <footer>
    </footer>

<section id="about-o" v-if="showBio">
  <button class="closeParent" v-on:click="showBio = false">Close</button>
  <div v-html="site.bio"></div>
</section>
</div>

<script type="text/javascript" src="dist/bundle.js"></script>
</body>
</html>
