*, html{

 margin:0;
 padding:0;

}

html, body, h1, h2, h3, h4, h5, span, div, table, tr, td{
 
 font-family:Arial,sans-serif;
 font-size:11.5pt;
 line-height:15.5pt;
 letter-spacing:0.5pt;
 color:#2a2a2b;
 
}

section{

 margin:30px 30px 0px 30px;
 
}

#intro *{

 font-size:9pt;
 
}
#intro__name{
 
 font-weight:bold;
 text-transform:uppercase;
 
}
