@import url('https://fonts.googleapis.com/css?family=Cousine');

*, html{
	margin:0;padding:0;
}

body, html{
 width:100%;
 height:100%;
	background:#ffffff;
}

html, body, span, div, table, tr, td{
 
 font-family:"Cousine", Arial, sans-serif;
 font-size:11.5pt;
 line-height:17pt;
 letter-spacing:0.5pt;
 color:#2a2a2b;
 
}
h1, h2, h3, h4, h5{

 font-size:10pt;
 font-weight:bold;
 text-transform:uppercase;
 
}

a, a:link, a:active, a:visited{

 text-decoration:none;
 color:#2a2a2b;
 border-bottom:2px solid #2a2a2b;
 padding-bottom:2px;
 padding-top:2px;
 border-top:2px solid #ffffff;
 
}

a:hover{

 background:#2a2a2b;
 color:#fefefe;
 border-top:2px solid #2a2a2b;
 
}

section, footer{

 margin:30px;
 
}

#intro *{

 font-size:10pt;
 
}

/* BOOK CARDS */
.book__card{
 padding: 0px;
		position: relative;
		text-align: left;
		display: inline-block;
        vertical-align: top;
        
        width: 19%;
		margin: 0 7% 10% 0;
        
        box-sizing:border-box;
}
	.book__card:nth-child(4n+0){
		margin-right: 0;
	}
.book__card:hover{
	opacity:0.5;
	    -webkit-transition: background-color 500ms all 1s;
    -moz-transition: background-color 500ms all 1s;
    -o-transition: background-color 500ms all 1s;
    transition: background-color 500ms all 1s;
}
.book__card--hover{

}

.book__image{
    width: 100%;
    }
.book__image img {
    max-width: 100%;
    }
.book__title{}
.book__publisher{opacity:0.5;}


footer{
 font-size:8pt;
 color:#bbb;
}
footer a{color:#bbb!important;border-bottom-color:#bbb!important;}
footer a:hover{background-color:#bbb;color:#2a2b2a!important;}
