// Body

*{
	margin:0;padding:0;
	box-sizing:border-box;
}

html {

	width:100%;
	height:100%;

}

body{
	
	background: $background;
	
	font-family: "San Francisco", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size:	11.5pt;
	line-height:17pt;
	letter-spacing:0.5pt;
	color: $black;
	
	@include breakpoint(large) {
		padding-top:80px;
	}
	@include breakpoint(small) {
		padding-top:80px;
	}
	
}

/* - - - - - - - - - - - - */

h1, h2, h3, h4, h5 {

	font-size:9pt;
	font-weight:bold;
	/*text-transform:uppercase;*/

} header h1 {

	font-size:14pt;
	font-weight:normal;
	display:inline;
	margin:0;padding:0;

}	p {

} a, a:link, a:active, a:visited {

	text-decoration:none;
	color:#999;
	border-bottom:2px solid #999;
	padding-bottom:5px;

} a:hover {

	color:#2a2b2a;
	border-color:#2a2b2a;

}	a.action {

	padding:15px 30px;
	background:#fff;
	border:0;

} a.action:after {

	content:' →';

} a.action:hover {

	background:#2a2a2b;
	color:#fefefe;

} a.source{
	display:inline-block;
} a.source:after{
	content:' →';
}